<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Gráficos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row *ngFor="let row of graficos">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Trabalhos Avaliados - {{row.trabalhos.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <google-chart [data]="row.trabalhos.chart"></google-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Check-in Avaliadores - {{row.avaliadores.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <google-chart [data]="row.avaliadores.chart"></google-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
